body {
	background-color:#F8F8F8;
	width:980px; 
	margin-left:auto; 
	margin-right:auto;

}


.footer{
	background-color: orange;

}

.footer_inner{
	border:1px solid black;
	height:51px;

}

.content {
	border:0px solid black;
	background-color:lightblue;
	min-height: 500px;

} 


.content_inner {
	border:2px solid blue; width: 45%; margin-left:auto; margin-right:auto; padding:15px;
	
}